.title {
  text-align: center;
  margin-bottom: 80px;
}
.label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 0.25rem;
}

.error {
  color: red;
  margin-top: 0.5rem;
  text-align: center;
}

.weather {
  margin-top: 4rem;
  background-color: #f7f7f7;
  border-radius: 1rem;
  padding: 1rem;
}

.weather-header {
  margin-bottom: 1rem;
}

.weather-icon {
  width: 50px;
  height: 50px;
  display: inline;
  margin-right: 0.5rem;
}

.search-button {
  display: flex;
  justify-content: center;
}

.bold {
  font-weight: bold;
  margin-bottom: 10px;
}

.normal {
  font-weight: normal;
  display: inline;
}
